@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<PlantillaMVC.Web.Models.Carta>
@{
    Layout = null; }

     <script type="text/javascript">
				(function(document) {
      'use strict';

      var filtrarTabla = (function(Arreglo) {

        var input;

        function entradaEvento(nombre) {
          input = nombre.target;
          var tablas = document.getElementsByClassName(input.getAttribute('data-table'));
          Arreglo.forEach.call(tablas, function(table) {
            Arreglo.forEach.call(table.tBodies, function(tbody) {
              Arreglo.forEach.call(tbody.rows, _filter);
            });
          });
        }

        function _filter(row) {
          var texto = row.textContent.toLowerCase(), val = input.value.toLowerCase();
          row.style.display = texto.indexOf(val) === -1 ? 'none' : 'table-row';
        }

        return {
          init: function() {
            var inputs = document.getElementsByClassName('light-table-filter');
            Arreglo.forEach.call(inputs, function(Input) {
              Input.oninput = entradaEvento;
            });
          }
        };
      })(Array.prototype);

      document.addEventListener('readystatechange', function() {
        if (document.readyState === 'complete') {
          filtrarTabla.init();
        }
      });

    })(document);

			</script>


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">


<!DOCTYPE html>
<html>
<head>
    <title>Cartas</title>
</head>
<body>
    <a asp-action="FormAlta" class="btn btn-success">Alta Carta</a><br />
    <h5>Cartas</h5>

    <div class="container-fluid">
        <input class="form-control col-md-3 light-table-filter" data-table="order-table" type="text" placeholder="Ingrese el nombre de la carta">
        <br />
    <table class="table table-bordered order-table">
        <thead>

            <tr><th>Nombre</th><th>Nivel</th><th>Descripcion</th></tr>


        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (PlantillaMVC.Web.Models.Carta carta in Model)
                {
                    <tr>
                        <td>
                            <a  asp-controller="Carta" asp-action="CaracteristicaCarta" asp-route-id="@carta.CartaId">@carta.Nombre</a>
                        </td>
                        <td>@carta.Nivel</td>
                        
                        <td>@carta.Descripcion</td>
                        <td>

                            <!-- Formulario para el post-->
                            <form asp-controller="Carta" asp-action="Eliminar" method="post">
                                <input type="hidden" asp-for="@carta.CartaId" />
                                <button type="submit" asp-controller="Carta" asp-action="Eliminar" asp-route-id="@carta.CartaId">Eliminar</button>
                                <a asp-controller="Carta" asp-action="Modificar" asp-route-id="@carta.CartaId">Modificar</a>
                            </form>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    </div>
</body>
</html>
